{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <div class="form-group">
        <button type="button" class="btn btn-success" id="add-line">Add Line</button>
    </div>
<button class="btn">{{ button_label|default('Save') }}</button>

<script>
    document.getElementById('add-line').addEventListener('click', function() {
        var collectionHolder = document.querySelector('.lignes-collection');
        var prototype = collectionHolder.getAttribute('data-prototype');
        var newForm = prototype.replace(/__name__/g, collectionHolder.children.length);
        var newElem = document.createElement('div');
        newElem.innerHTML = newForm;
        collectionHolder.appendChild(newElem);
    });
</script>
{{ form_end(form) }}

