{% extends 'base.html.twig' %}

{% block title %}Edit Facture{% endblock %}

{% block body %}
    <h1>Modifier la Facture</h1>

    {{ include('facture/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_facture_index') }}">Retour à la liste</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
