footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
button:hover {
    transform: scale(1.05);
  }

  .custom-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #007bff;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #007bff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 